<!Doctype html>
<html>
  <head> <link rel="stylesheet" type="text/css" href="css/style.css"> </head>
  <body>

  <section id="dafram"> 
    
    <h1>What's your gif</h1>  <br> <br>

    <img src="http://i.imgur.com/MoQKZfT.gif"><br>

    <form action="/results" method="post">

     <p> <label>What is your favorite color?</label>
      <input type="radio" name="color" value="nerdy" checked>Navy Blue
      <input type="radio" name="color" value="sporty" checked>Blazing Orange
      <input type="radio" name="color" value="rich" checked>Green </p>

      <p><label>If you could do anything that you wanted right now, what would you do?</label>
      <input type="radio" name="activity" value="nerdy" checked> Study for the SATs
      <input type="radio" name="activity" value="rich" checked>Create a hedge fund
      <input type="radio" name="activity" value="sporty" checked>Practice free throws </p>


     <p> <label>What did you get on your last math test?</label>
      <input type="radio" name="test" value="sporty" checked> -37 because I’m 3cool5school
      <input type="radio" name="test" value="nerdy" checked> 99 because I studied all day yesterday
      <input type="radio" name="test" value="rich" checked> 96 because I studied a lot but I
     have a life!!! </p>

     <p> <label>When was the last time you went to a party?</label>
     <input type="radio" name="party" value="sporty" checked> Today n yesterday all night oh yeh i be in de club when i not in da field
      <input type="radio" name="party" value="rich" checked> Last week, because I didn’t have much homework that weekend.
      <input type="radio" name="party" value="nerdy" checked> OMG NEVER I HATE PARTIES NOOOOOOOOO I WANNA STUDY ONLY THING I CAN DO!! </p>

     <p> <label>What is your name?</label>
      <input type="radio" name="name" value="nerdy" checked> Starts with an a
      <input type="radio" name="name" value="rich" checked> Starts with a b, c, d, e, or r
      <input type="radio" name="name" value="sporty" checked> Starts with an f - z, discluding r </p>

      <p><label>When was the first time you kissed a girl/boy?</label>
      <input type="radio" name="kiss" value="nerdy" checked> No girl ever looks at me and/or Girls/Boys are disgusting!!!! After 14
      <input type="radio" name="kiss" value="sporty" checked> Right now, i be kissin’ while i be dunkin’ also(sporty)
      <input type="radio" name="kiss" value="rich" checked> My first kiss was at 13 or 14 </p>

      <p><label>What phone do you use?</label>
      <input type="radio" name="phone" value="sporty" checked> iPhone
      <input type="radio" name="phone" value="nerdy" checked> Anything else
      <input type="radio" name="phone" value="rich" checked> 24 karat gold encrusted blue diamond iPhone </p>

               
                


 

      <input type="submit"> 
    </form>
   
    


  </section>
    
  </body>

</html>