<!Doctype html>
<html>
  <head> <link rel="stylesheet" type="text/css" href="css/style.css"> </head>
  <body>

  <section id="dafram"> 
    
    <h1>What's your gif <br> <br>

    <img src="http://i.imgur.com/MoQKZfT.gif"><br>
    </h1>


    <h4> blablablablablablablablablablablablablablablablablablabla

    </h4>

    <h1>
      <input type="button" class="butttonz" value="submit "> 

    </h1>     
    


  </section>
    
  </body>

</html>